@import "./reset.css";

/*Algunos estilos más del body no contemplados en el reset*/
/*Evita que aparezca la barra de scroll lateral en el body de la página web*/

body {
    overflow: scroll;
}

body::-webkit-scrollbar {
    display: none;
}


/*Estilos para el header*/

#header-shop{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: rgb(22, 21, 21);
    width: 100%;
    min-width: 350px;
    height: 100px;
    padding: 0 20px;

    /*Estilos para el logo*/
    .logo-shop{
        width: 100px;
        min-width: 100px;
        height: 95px;
    }

    /*Estilos para el input de buscar productos y el svg de la lupa*/
    .search-product{
       
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin-left: 20px;
        height: auto;
        
        input{
            background-color: black;
            border-radius: 1rem;
            border: 2px solid rgb(99, 94, 94);
            width: 30%;
            min-width: 100px;
            padding: 5px;
            color:  rgb(172, 164, 164);
        }
        input::placeholder {
            color: rgb(99, 94, 94); 
            padding-left: 5px;
        }
        svg{
            width: 25px;
            height: 25px;
            color:rgb(99, 94, 94);
            margin-left: 5px;
            cursor: pointer;
        }
        
    }

    /*Estilos para el contenedor del icono de login*/
    .icon-identify{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: right;
        width: 50%;
        max-width: 150px;
        height: auto;
        margin-left: 20px;

        a{
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgb(99, 94, 94);
            border-radius: 2em;
            width: 40px;
            height: 40px;
            
            
            svg{
                width: 25px;
                height: 25px;
                color: rgb(99, 94, 94);
            }
        }
    }
}


/*Estilos para el main*/

main{
    width: 100%;
    height: auto;

    /*Estilos para la sección de las cards de los productos, estilos de las cards (información y botones dentro de ellas),
    estilos para el contenedor del botón de añadir*/
    #section-card{
        width: 100%;
        height: auto;
        box-sizing: border-box;

        h2{
            text-align: left;
            font-size: 1.8rem;
            width: 100%;
            margin: 80px 60px 40px 60px;
            padding: 0 40px;
            cursor: default;
        }

        #products-container{
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            min-width: 330px;
            height: auto;
            padding: 0 80px;
            margin-bottom: 40px;
            gap: 25px;

            .product-card{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 355px;
                height: 435px;
                border: 1px solid rgb(15, 15, 15);
                border-radius: 0.8em;
                margin-bottom: 30px;
                padding: 15px;
                overflow: hidden;
                transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
                
                .card-info{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    padding: 0  15px;
                    gap: 15px;
                    

                    .product-img{
                        width: 125px;
                        height: 155px;
                        margin-top: 15px;
                        cursor: pointer;
                        margin-bottom: 5px;
                    }

                    h3{
                        text-align: center;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1; /* Limita a 1 líneas el título del producto */
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: pointer;
                    }

                    .product-description{
                        text-align: justify;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2; /* Limita a 2 líneas la descripción del producto */
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: default;
                    }

                    .product-description::first-letter {
                        text-transform: uppercase;  /* Convierte la primera letra en mayúscula */
                    }
                    
                    .product-price{
                        font-size: 17px;
                        font-weight: bolder;
                        cursor: default;
                    }

                    .product-category{
                        display: none;
                    }
                }

                .card-buttons{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 50px;
                    gap: 20px; 

                    button{
                        width: 70px;
                        height: 30px;
                        border: 1px solid rgb(145, 138, 138);
                        border-radius: 5px; 
                    }

                    button:hover{
                        border: 1px solid rgb(85, 68, 87);
                        background-color: rgb(123, 112, 124);
                        color: white;
                    }

                }
                
            }

            .product-card:hover{
                transform: scale(1.02); /* Aumenta el tamaño en un 10% */
                box-shadow: 0 3px 8px rgb(135, 108, 138); /* Agrega sombra para resaltar */
            }
        }

        #container-addButton{
            display: flex;
            justify-content: center;
            width: 100%;
            min-width: 336px;
            height: 50px;
            margin-bottom: 50px;

            .addProduct{
                width: 200px;
                border: 1px solid rgb(145, 138, 138);
                border-radius: 5px; 
            }

            .addProduct:hover{
                border: 1px solid rgb(85, 68, 87);
                background-color: rgb(123, 112, 124);
                color: white;
                font-weight: bold;
            }

        }

    }
}

/* Estilos para la ventana modal y el formulario de su interior (localizado en el main)*/
.modal {
    position: fixed; 
    z-index: 1; /* Se superpone delante de la pantalla */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; /*Previene que el contenido del elemento se desplace o se muestre fuera de sus límites*/
    background-color: rgba(0,0,0,0.4); 

    /* Estilos para el Modal Content/Box */
    .modal-content {
        box-sizing: border-box;
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 30%; /* Could be more or less, depending on screen size */
        min-width: 300px;
        height: fit-content;
        border: 2px solid rgb(106, 38, 112);
        border-radius: 0.5em;
        background-color: rgb(226, 226, 226);

        /*Estilos para el formulario*/
        form{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 15px;

            /* Estilos para la x que cierra el formulario*/
            .close {
                text-align: right;
                color: #949699;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover, .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

            h3{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                color:   rgb(106, 38, 112);
                height: fit-content;
                width: 100%;
                margin-bottom: 5px;
            }

            /*Estilos para los input, los inputs con la clase error y los span, que se mostrará en caso de error*/
            div{
               
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                

                label{
                    color:  rgb(30, 9, 32);
                    font-size: 16px;
                    margin-top: 3px;
                    margin-bottom: 3px;
                }

                input{
                    padding-left: 10px;
                    color:  rgb(30, 9, 32);
                    margin-bottom: 2px;
                }

                input.error{
                    padding-left: 10px;
                    color:  rgb(30, 9, 32);
                    margin-bottom: 2px;
                    border: 1px solid red;
                }

                span{
                    display: none; /*Al inicio no se muestra*/
                    margin-top: 2px;
                    margin-bottom: 8px;
                    color: red;
                    font-size: 12px;
                }
            }
            
            /*Estilos los botones del formulario*/
            .button-modal-form{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                margin-top: 20px;

                .button-submit, .button-reset{
                   
                    border: 1px solid rgb(145, 138, 138);
                    border-radius: 5px;
                    width: 100px;
                }
        
                .button-submit:hover, .button-reset:hover{
                    border: 1px solid rgb(85, 68, 87);
                    background-color: rgb(123, 112, 124);
                    color: white;
                }
            } 
        }
    }
}
  

/*Estilos para el footer*/

#footer-shop{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: rgb(22, 21, 21);
    width: 100%;
    min-width: 350px;
    height: auto;
    padding: 10px 20px;
    margin-top: 30px;
    gap: 5px;

    /*Estilos para el logo de la empresa*/
    .footer-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        min-width: 100px;
        height: 100px;
        
        img{
            width: 90px;
            height: 90px;
        }
    }

    /*Estilos para la información de la empresa*/
    .footer-information{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 60%;

        a{
            color: rgb(99, 94, 94);
            font-size: 15px;
        }
        a:hover{
            font-weight: bold;
            color: rgba(255, 255, 255, 0.658);
        }
    }

    /*Estilos para los iconos de las redes sociales*/
    .icons-social-media{
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 200px;
        gap: 20px;
        
        .socialx, .instagram, .facebook {
            height: 18px;
            width: 18px; 
            fill: rgb(99, 94, 94);  
            cursor: pointer;
        }

        .socialx:hover, .instagram:hover, .facebook:hover {
            fill:rgba(255, 255, 255, 0.658);  
        }
    }
}